#btnLogout {
    background-color: var(--color-boton-cerrarSesion);
    color: var(--color-boton-cerrarSesion-letra);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

